body {
    height: 100%;
    background-color: #f8f8f8;
}

h1, h2, h3, a.header, div.header {
    font-family: 'Noto Serif', serif !important;
}

a.header {
    font-weight: bold;
}

a, .ui.list .list>.item a.header, .ui.list>.item a.header {
    color: rgb(54, 40, 13) !important;
}

a:hover, a:active, .ui.list .list>.item a.header, .ui.list>.item a.header:hover {
    color: rgb(231, 159, 49) !important;
}