.home-header {
    background-image: url(../../assets/images/header-foodie.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover !important;
    background-color: #f5f5f5;
    width: auto;
    height: 90vh;
}

@media only screen and (max-width: 767px) {
    body {
        background-image: url(../../assets/images/header-foodie-mobile.jpg);
    }
}

.home-textbox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center !important;
    margin-top: 0;
    min-width: 275px;
}

.home-textbox--text {
    color: white !important;
}

.home-textbox--main {
    font-size: 3em !important;
}

.home-latest-posts {
    margin-top: 3em;
}

.home-header--button {
    display: block !important;
    margin: 0 auto !important;
    margin-bottom: .5em !important;
}

/* Masonry Grid */

.masonry.grid {
    display: block !important;
}

@media only screen and (min-width: 768px) {
    .masonry.grid {
        -webkit-column-count: 1 !important;
        -moz-column-count: 1 !important;
        column-count: 1 !important;
        -webkit-column-gap: 0;
        -moz-column-gap: 0;
        column-gap: 0;
    }
    .ui.doubling.masonry.grid[class*="three column"]>.column {
        width: 100% !important;
    }
}

@media only screen and (min-width: 992px) {
    .masonry.grid {
        -webkit-column-count: 3 !important;
        -moz-column-count: 3 !important;
        column-count: 3 !important;
    }
}