.postinfo-container {
    margin-top: 4em;
}

.postinfo-header {
    margin-top: 0 !important;
}

.postinfo-sub {
    color: rgb(231, 159, 49) !important;
}

.postinfo-description {
    font-size: .93em;
}

.postinfo-date {
    font-size: .8em;
    font-style: italic;
}